<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/order.css">
    <link href="https://fonts.googleapis.com/css2?family=Orienta&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>StrayPets</title>
</head>
<body>
    <main>
        <div class="div1"><img src="../images/admin.png" alt=""></div>
        <div class="div2" onclick="location.href='admin_order.html';" style="cursor:pointer;"><i class="fa fa-bars"></i>Orders</div>
        <div class="div3"><i class="fa fa-paw" aria-hidden="true"></i>StrayPets</div>
        <div class="div4"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Products</div>
        <div class="div5"><i class="fa fa-sign-out" aria-hidden="true"></i>LogOut</div>
    </main>
    <header>
        <div style="background: black;">
            <div>Status</div>
            <div>Name</div>
            <div>Email</div>
            <div>Picture</div>
            <div>Latitude</div>
            <div>Longitude</div>
        </div>
        <% docs.forEach(function(thing){ %>
        <div class="content">
            <div><i class="fa fa-search" aria-hidden="true"></i>View</div>
            <div><%= thing.name %></div>
            <div><%= thing.email %></div>
            <div>X</div>
            <div><%= thing.latitude %></div>
            <div><%= thing.longitude %></div>
        </div>
        <% }) %> 
        <div class="content">
            <div><i class="fa fa-search" aria-hidden="true"></i>View</div>
            <div>Vishal</div>
            <div>abc@gmail.com</div>
            <div>X</div>
            <div>193.22.777.2</div>
            <div>003.29.7977.29</div>
        </div>
        <div class="content">
            <div><i class="fa fa-search" aria-hidden="true"></i>View</div>
            <div>Vishal</div>
            <div>abc@gmail.com</div>
            <div>X</div>
            <div>193.22.777.2</div>
            <div>003.29.7977.29</div>
        </div>
        <div class="content">
            <div><i class="fa fa-search" aria-hidden="true"></i>View</div>
            <div>Vishal</div>
            <div>abc@gmail.com</div>
            <div>X</div>
            <div>193.22.777.2</div>
            <div>003.29.7977.29</div>
        </div>
    </header>

    <script>
        
    </script>
</body>
</html>