<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/disease.css">
    <link rel="stylesheet" href="../css/vet.css">
    <link href="https://fonts.googleapis.com/css2?family=Orienta&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Disease</title>
</head>

<body>
    <div class="div1">
        <div class="head">Paw<span style="color:#B223AD">Care</span>.</div>
        <div class="toggle-section">
            <div onclick="location.href='/dashb';" style="cursor:pointer;"><i class="fa fa-home"></i>Home</div>
            <div onclick="" style="cursor:pointer;"><i class="fa fa-search"></i>AboutUs</div>
            <div onclick="location.href='/cart';" style="cursor:pointer;"><i class="fa fa-shopping-cart"></i>Cart</div>
        </div>
        <div class="toggle-section">
            <div>Hello <%= user %>,<i class="fa fa-user"></i></div>
            <div>l</div>
            <div onclick="location.href='/logout';" style="cursor:pointer;"><i class="fa fa-sign-out"></i>Log Out</div>
        </div>
    </div>
    <div style="display: flex;justify-content: center;margin: 40px;">
        <div class="div2">
            <div class="pd"><img src="../images/vet.png" alt=""
                    style="width: 24%"></div>
            <div>
                <pre>Contact 
nearby vets.
<span style="font-size: 3vh;font-family: Verdana, Geneva, Tahoma, sans-serif;background: #FDC1FE;">Monthly health checkup.</span></pre>
            </div>
        </div>
    </div>

    <div class="search_content">
        <form class="temp_form">
            <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
            <input type="submit" value="Search" id="submitBtn">
        </form>
    </div>

    <div class="div3">
        <div class="div4"
            style="writing-mode: vertical-rl;font-family: Righteous;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
            PET CARE.
        </div>
        <div id="wrapper" style="background: white;">
            <p id="city_name" style="font-family: Righteous;background: white;">Vet Details</p>
            <table id="vet_name"><tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Berglunds snabbköp</td>
                <td>Christina Berglund</td>
                <td>Sweden</td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Königlich Essen</td>
                <td>Philip Cramer</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
              </tr>
              <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>North/South</td>
                <td>Simon Crowther</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Paris spécialités</td>
                <td>Marie Bertrand</td>
                <td>France</td>
              </tr></table>
        </div>
    </div>

    <script src="../js/vet.js"></script>
</body>

</html>