*{
    margin: 0;
    padding: 0;
    background: #FFE1E8;
}
main{
    width: 95%;
    margin: 15px auto;
    display: grid;
    grid-template-rows: 100px 300px 250px 250px;
    /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
    grid-template-columns:  1fr 0.25fr;
    /*grid-row-gap: 20px;
    grid-column-gap: 20px;*/
    grid-gap: 50px;
    grid-auto-rows: 250px;
    /*align-items: center;
    justify-items: center;*/
}
.div1{
    background: red;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 0.5fr repeat(2,1fr);
}
.div2{
    grid-column: 1/-1;
    /*grid-column: 1/-1;*/
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;
}
.div3{
    background: #FDC1FE;
    grid-row: 3/5;
    margin-top: 30px;
    grid-column: 2/-1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.div4{
    background: #FFBFBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 10px;
    transition: transform .2s;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 50px 0px 50px 0px;
}
.div4:hover {
    transform: scale(1.025);
  }

@media screen and (max-width: 600px) {
    .div3{
      grid-row: 3/4;
      grid-column: 1/-1;
      flex-direction: row;
    }
    .main{
        grid-template-columns: 1fr;
    }
  }

.div41{
    background: #FFBFBF;
    grid-row: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
}  
.div42{
    font-family: 'Righteous', cursive;
    font-size: 8vh;
    display: flex;
    align-items: center;
    
    background: #FFBFBF;
    color: #B223AD;
}  
.div43{
    background: #FFBFBF;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.div44{
    background: #FFBFBF;
    font-family: 'Righteous', cursive;
    font-size: 3vh;
}  
.div45{
    background: #FFBFBF;
    font-family: 'Righteous', cursive;
    font-size: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
}  
img{
    background: #FFBFBF;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    border-radius: 5%;
}
.cart{
    background: #FFFDFD;
    height: 50%;
    width: 25%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}
video{
    max-width: 100%;
    max-height: 100%;
    background: #030303;
    border-radius: 0px 50px 0px 50px;
    
}
.head{
    font-family: Righteous;
    font-size: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Righteous;
    font-size: 4vh;
}
.toggle-section > div{
    margin: 10px;
}
.toggle-section > div:hover{
    color: rgb(97, 96, 96);
}
i{
    margin: 1px;
}
.div31{
    font-family: Righteous;
    font-size: 5vh;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FDC1FE;
}
.div32{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FDC1FE;
}
.div32 > img{
    max-width: 80%;
    max-height: 80%;
    background: #FDC1FE;
}
.div33{
    padding: 25px;
    background: #FDC1FE;
}
.button {
    background-color: #4CAF50; /* Green */
    font-family: Righteous;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }  

