*{
    margin: 0;
    padding: 0;
    background: #FFE1E8;
}
main{
    width: 95%;
    margin: 15px auto;
    display: grid;
    grid-template-rows: 100px 500px;
    /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
    grid-template-columns: 1fr 0.25fr 1fr;
    /*grid-row-gap: 20px;
    grid-column-gap: 20px;*/
    grid-gap: 70px;
    grid-auto-rows: 250px;
}
.div1{
    background: red;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 0.5fr repeat(2,1fr);
}
.div2{
    background: #FDC1FE;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    box-shadow: 5px 10px 8px #888888;
    transition: transform .2s;
}
.div2:hover {
    transform: scale(1.025);
  }
.div2 > div{
    margin: 10px;
    background: #FDC1FE;
}
pre{
    font-family: Righteous;
    font-size: 6.5vh;
    background: #FDC1FE;
}
.div3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    background: #FFE1E8;
    color: #6b6464;
}
.div4{
    background: #FDC1FE;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    box-shadow: 5px 10px 8px #888888;
    transition: transform .2s;
}
.div4:hover {
    transform: scale(1.025);
  }
.div4 > div{
    margin: 10px;
    background: #FDC1FE;
}
.head{
    font-family: Righteous;
    font-size: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Righteous;
    font-size: 4vh;
}
.toggle-section > div{
    margin: 10px;
}
.toggle-section > div:hover{
    color: rgb(97, 96, 96);
}
i{
    margin: 1px;
}
img{
    height: 100%;
    width: 35%;
    background: #FDC1FE;
}
.pd{
    display: flex;
    justify-content: flex-end;
}
.button {
    background-color: #000000; /* Green */
    font-family: Righteous;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

/* custom scrollbar */
::-webkit-scrollbar {
    width: 25px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #B223AD;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}